
body{
    font-family: 'Open Sans',sans-serif;
    color: whitesmoke;
    background-color: lightskyblue;
}

#header
{
    font-style: italic;
    font-size: large;
}

body h5{
    font-style: oblique;
    font-size: large;
}















