body {
    background-color: #9999ff;
}

#cont {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: navy;
    margin-left: 20px;
}

h2 {
    color: navy;
    margin-left: 5px;
}

form div + div {
    margin-top: 1em;
}

nav {
    float: left;
    max-width: 180px;
    margin: 0;
    padding: 1em;
}

header, footer {
    padding: 1em;
    color: white;
    bacakground-color: black;
    clear: left;
    text-align: center;
}
label {
    display: inline-block;
    width: 90px;
    text-align: right;
}

input, textarea {
    font: 1em sans-serif;
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
}

input:focus, textarea:focus {
    border-color: #000;
}

textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
}

.button {
    padding-left: 90px;
}

button {
    margin-left: .5em;
    background-color: #0080ff;
}

.header img {
    float: left;
    width: 150px;
    height: 75px;
    background: #ffffff;
    z-index: 0;
    opacity: 1;
}

#home{
    font-size: 10pt;
    /*border: 1px solid #808080;*/
    color: Black;
    float: Left;
    text-decoration: none;
    padding: 5px 5px;
    margin: 0px 0px;
    border-radius: 10px;
    background-color: White;
}

#signout{
    font-size: 10pt;
    /*border: 1px solid #808080;*/
    color: black;
    float: right;
    text-decoration: none;
    padding: 5px 5px;
    margin: 0px 0px;
    border-radius: 10px;
    background-color: gray;
}
#sign-in-status{
    font-size: 10pt;
    color: black;
    float: right;
    text-decoration: none;
    padding: 5px 5px;
    margin: 0px 0px;
    border-radius: 10px;
    background-color: gray;
}
